<!DOCTYPE html>
<link rel="stylesheet" href="/Assets/Colors/Colors.css">
<link rel="stylesheet" href="/Styles/Carousel.css">
<main class="main-container">
    <div class="slider-container">
        <div class="carousel" id="carousel">
            <div class="carousel-item">
                <div class="img-container">
                    <img src="/Assets/img/Screen Shot 2025-06-01 at 19.34.00.png" alt="Logo" class="logo">
                </div>
                <div class="text-container">
                    <h1>Portfolio activity</h1>
                    <p>se fabrico una landing page sencilla con el proposito de darle contenido al portafolio.</p>
                    <p><b>ISSUE <i>#1</i>:</b> Main page </p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="img-container">
                    <img src="/Assets/img/Screen Shot 2025-06-01 at 19.34.00.png" alt="Logo" class="logo">
                </div>
                <div class="text-container">
                    <h1>proyectos recientes</h1>
                    <p>Este es un ejemplo de una página de inicio simple.</p>
                    <p>Utiliza HTML, CSS y JavaScript para crear una experiencia interactiva.</p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="img-container">
                    <img src="/Assets/img/Screen Shot 2025-06-01 at 19.34.00.png" alt="Logo" class="logo">
                </div>
                <div class="text-container">
                    <h1>proyectos recientes</h1>
                    <p>Este es un ejemplo de una página de inicio simple.</p>
                    <p>Utiliza HTML, CSS y JavaScript para crear una experiencia interactiva.</p>
                </div>
            </div>
        </div>
        <button class="carousel-button prev" id="prevBtn">&#10094;</button>
        <button class="carousel-button next" id="nextBtn">&#10095;</button>
    </div>
</main>
<script src="/Scripts/Carousel.js"></script>