<!DOCTYPE html>
<link rel="stylesheet" href="/Styles/Footer.css">
<body>
<footer>
    <div class="Tecnologies-container">
        <h3>Technologies Used</h3>
        <ul>
            <li><img src="/Assets/icons/Components/HTMLICON.svg" id="icon-html"  alt="HTML5" width="16" height="16"> HTML5</li>
            <li><img src="/Assets/icons/Components/CSSICON.svg"  id="icon-css" alt="CSS3" width="16" height="16"> CSS3</li>
            <li><img src="/Assets/icons/Components/JSICON].svg"  id="icon-js" alt="JavaScript" width="16" height="16"> JavaScript</li>
        </ul>
    </div>
    <div class="Social-media-container">
        <h3>Follow Me</h3>
        <a href="https://github.com/jonsnow7291">GITHUB :
            <img src="/Assets/icons/Components/github-142-svgrepo-com.svg" width="16" height="16" alt="">
        </a>
        <br>
        <a href="https://www.linkedin.com/in/diego-vargas729/">LINKEDIN :
            <img src="/Assets/icons/Components/linkedin-svgrepo-com.svg" width="16" height="16" alt="">
        </a>
        <br>
        <a href="https://www.youtube.com/">YOUTUBE :
            <img src="/Assets/icons/Components/youtube-color-svgrepo-com.svg" width="16" height="16" alt="">
        </a>
        
    </div>
    <div class="logo-container">
        <img src="/Assets/icons/Logo Heador.png"  alt="Logo" class="logo-footer">
        <p class="logo-text">Made with ❤️ by <a href="" target="_blank" rel="noopener noreferrer">LivelyDev</a></p>
    </div>
</footer>
</body>