<!DOCTYPE html>
<link rel="stylesheet" href="/Styles/Footer.css">

<body>
    <footer>
        <div id="medium-container">
            <div class="Tecnologies-container">
                <h3>Technologies</h3>
                <ul>
                    <li><img src="/Assets/icons/Components/HTMLICON.svg" id="icon-html" alt="HTML5" width="16" height="16">
                        HTML5</li>
                    <li><img src="/Assets/icons/Components/CSSICON.svg" id="icon-css" alt="CSS3" width="16" height="16">
                        CSS3</li>
                    <li><img src="/Assets/icons/Components/JSICON].svg" id="icon-js" alt="JavaScript" width="16"
                            height="16"> JS</li>
                </ul>
            </div>
            <div class="Social-media-container">
            <h3>Follow Me</h3>
            <ul>
                <li><a href="https://github.com/jonsnow7291"><img
                            src="/Assets/icons/Components/github-142-svgrepo-com.svg" width="16" height="16"
                            alt=""> GITHUB
                    </a></li>
                <li>
                    <a href="https://www.linkedin.com/in/diego-vargas729/"><img
                            src="/Assets/icons/Components/linkedin-svgrepo-com.svg" width="16" height="16"
                            alt=""> LINKEDIN
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/"><img src="/Assets/icons/Components/youtube-color-svgrepo-com.svg"
                            width="16" height="16" alt=""> YOUTUBE
                    </a>
                </li>
            </ul>

            </div>
        </div>
        <div class="footer-logo-container">
            <img src="/Assets/icons/Logo Heador.png" alt="Logo" class="logo-footer">
            <p class="logo-text">Made with ❤️ by <a href="/index.html" target="_blank" rel="noopener noreferrer">LivelyDev</a></p>
        </div>
    </footer>
</body>