<link rel="stylesheet" href="/Styles/Header.css">
<header id="site-header">
    <nav id="header-navbar">
        <div    class="header-logo-container">
            <a href="/index.html"><img class="logo-header" src="/Assets/icons/Logo Heador.png" alt=""></a>
            <h1 class="logo-text">LivelyDev</h1>
        </div>
        <div class="header-menu-container">
            <button id="button-toogle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <ul id="menu-list" class="menu-list">
                <li class="navlinks"><a href="/index.html">Home</a></li>
                <li class="navlinks"><a href="/Pages/testimonies.html">Testimonies</a></li>
                <li class="navlinks"><a href="/Pages/aboutme.html">About</a></li>
                <li class="navlinks"><a href="/Pages/contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    
</header>
<script src="/Scripts/Header.js"></script>
