/*
 * Footer.css
 * 
 * Estilos para el pie de página del portafolio.
 * 
 * - Importa variables de color desde Colors.css.
 * - Aplica un reset básico a todos los elementos (*).
 * - El <footer> se muestra como un contenedor flexible, alineando y distribuyendo su contenido.
 *   - Fondo y colores definidos por variables CSS.
 *   - Fuente monoespaciada.
 *   - Padding, altura, ancho y bordes redondeados en la parte superior.
 *   - Posicionado en la parte inferior de la página.
 * - Los enlaces (<a>) no tienen subrayado y usan colores personalizados.
 *   - Cambian de color al pasar el mouse (hover) con transición suave.
 * - .logo-container organiza el logo en columna y lo centra.
 * - .logo-footer define el tamaño del logo.
 * - Los íconos de tecnologías (#icon-css, #icon-html, #icon-js) cambian de fondo al hacer hover, usando colores específicos y transición.
 */
 @import url("/Assets/Colors/Colors.css");
/* Footer.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-Footer);
    color: var(--color-Footer-letras);
    font-family: 'Courier New', Courier, monospace;
    padding: 2%;
    bottom: 0%;
    width: 100%;
    height: 20%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
}

footer a{
    text-decoration: none;
    color: var(--color-Footer-enlaces);
}

footer a:hover{
    color: var(--color-Footer-enlaces-hover);
    transition: 0.5s;
}

.footer-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-footer{
    width: 50px;
    height: 50px;
    align-self: center;
}
#icon-css:hover{
    background-color: var(--color-css);
    transition: 0.5s;
}
#icon-html:hover{
    background-color: var(--color-html);
    transition: 0.5s;
}
#icon-js:hover{
    background-color: var(--color-js);
    transition: 0.5s;
}