@import url("/Assets/Colors/Colors.css");
/* Header.css */
html, body {
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 10px 20px;
    width: 90%;
    height: 15%;
    margin: 2% 5%;
    min-height: 100px;
    border-radius: 20px;
    top: 23px;
    background-color: var(--color-Header);
}
header>#header-navbar{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.header-logo-container h1{
    font-size: 2rem;
    color: var(--color-Header-enlaces);
    margin-left: 10px;
}
.header-logo-container>a>.logo-header{
    width: 10vh;
    height: 10vh;
}
.header-menu-container{
    width: 50%;
}
.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;

      
}
.navlinks{

}
header a{
    text-decoration: none;
    color: var(--color-Header-enlaces);

}
button{
    position: absolute;
    display: none;
}
header a:hover{
    text-decoration: none;
    color: var(--color-Header-enlaces-hover);
    transition: 0.5s;
}
@media (max-width: 768px) {
    button{
        display: block;
        width: 20%;
        height: 40px;
        position: absolute;
        right: 11%;
        top: 7%;
        width: 10%;
        color: var(--color-Header-barras-button);
        background-color: var(--color-Header-fondo-button);
        padding: 0 10px;
        border: 1px solid var(--color-Header-borde-button);
        border-radius: 10px;
    }
    button:hover{
        background-color: var(--color-Header-fondo-button-hover);
        color: white;
        transition: 0.5s;
    }
    .menu-list{
        padding: 0%;
        display: flex;
        overflow: hidden;
        max-height: 0;
        position: absolute;
        right: 5%;
        top: 15%;
        background-color: rgb(87, 60, 116);
        width: 90%;
        border-radius: 10px;
        align-items: center;
        transition: max-height 0.4s ease, padding 0.3s ease;
        flex-direction: column;
    }
    .menu-list.showOptions{
        max-height: 500px;
        padding: 10px 20px;
        border-radius: 0 0 10px 10px;

    }
    header.headerActive{
        border-radius: 20px 20px 0 0;
    }

}
