*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 90%;
    height: 15%;
    margin: 2% 5%;
    border-radius: 20px;
    top: 23px;
    background-color: rgb(58, 40, 77);

}
.logo{
    width: 10%;
    height: 15%;
    display: flex;
    position:absolute;
}
ul{
    display: flex;
    gap: 4%;
    list-style: none;
    position: absolute;
    top: 9%;
    right: 10%;
}
li{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
    color: white;

}
button{
    position: absolute;
    display: none;
}
a:hover{
    text-decoration: none;
    color: rgb(169, 214, 160);
    transition: 0.5s;
}
@media (max-width: 768px) {
    button{
        display: block;
        width: 20%;
        height: 40px;
        position: absolute;
        right: 11%;
        top: 7%;
        width: 10%;
        color: rgb(68, 0, 255);
        background-color:rgb(134, 111, 172);
        padding: 0 10px;
        border: 1px solid rgb(110, 76, 202);
        border-radius: 10px;
    }
    button:hover{
        background-color: rgb(110, 76, 202);
        color: white;
        transition: 0.5s;
    }
    ul{
        display: flex;
        overflow: hidden;
        max-height: 0;
        position: absolute;
        right: 5%;
        top: 16.8%;
        background-color: rgb(87, 60, 116);
        width: 90%;
        border-radius: 10px;
        align-items: center;
        transition: max-height 0.4s ease, padding 0.3s ease;
        flex-direction: column;
    }
    nav>ul.showOptions{
        display: flex;
        max-height: 500px;
        padding: 10px 20px;
        border-radius: 0 0 10px 10px;

    }
    header.headerActive{
        border-radius: 20px 20px 0 0;
    }

}
